__pycache__/
*.pyc
app.log
*.log

# VS Code / Remote
.vscode-server/
.vscode/

# Environment / secrets
.env

# Python virtual environment
venv/
.venv/
env/

# OS / editor artıkları
.DS_Store
*.swp

# Node (opsiyonel)
node_modules/
npm-debug.log*
yarn-error.log*

# Generated Reports
report_dir/
